name: GitHub Actions Demo
on: 
  push: 
    branches: [main]
    paths-ignore: [.github/**]
  pull_request:
    branches: [main]  
  schedule:
    - cron: '15 6 * * 0'
  workflow_dispatch:
    
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Job triggered by event: ${{ github.event_name }}"
          echo "Branch name: ${{ github.ref }}"
      - uses: actions/checkout@v3
      
      - name: List files in the repo
        run: |
          echo "The repo ${{ github.repository }} contains the following files:"
          tree
    
